.FeaturesList {
  display: grid;
  grid-template-columns: repeat(1, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 8px;
}

.FeaturesList > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.FeaturesList::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media (min-width: 400px) {
  .FeaturesList {
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
  }
}
